.box img{
    width: 236px;
    margin: 10px;
    border-radius: 8px;
    cursor: zoom-in;
}
.box img:hover{
    background-color: rgba(242, 242, 242, 0.836);
    opacity: 0.8;

}



.my-gallery-class{
    margin-left: 120px
}