.box img{
    width: 236px;
    margin: 10px;
    border-radius: 8px;
    cursor: zoom-in;
}

.box img:hover{
    filter: brightness(0.5) 
}

.box:hover{
background-color:rgb(224, 224, 224);
border-radius: 8px;

}



.my-gallery-class{
    margin-left: 120px;
}

.photoText , a , .dotsText{
    font-size: 14px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
    font-weight: bold;
    font-family: "Segoe UI";
    text-decoration: none
}

.photoTextDot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 236px;
    margin-left: 20px

}

.dotsText{
    color: #8E8E8E;
    font-size: 10px
}